:root{
    --border-radius: 30px;

    /* Sky colors */
    --sky-50: #f0f9ff;
    --sky-100: #e0f2fe;
    --sky-200: #bae6fd;
    --sky-300: #7dd3fc;
    --sky-400: #38bdf8;
    --sky-500: #0ea5e9;
    --sky-600: #0284c7;
    --sky-700: #0369a1;
    --sky-800: #075985;
    --sky-900: #0c4a6e;
    --sky-950: #082f49;

    /* Yellow colors */
    --yellow-50: #fefce8;
    --yellow-100: #fef9c3;
    --yellow-200: #fef08a;
    --yellow-300: #fde047;
    --yellow-400: #facc15;
    --yellow-500: #eab308;
    --yellow-600: #ca8a04;
    --yellow-700: #a16207;
    --yellow-800: #854d0e;
    --yellow-900: #713f12;
    --yellow-950: #422006;
}

*, *::after, *::before{
    box-sizing: border-box;
}

/* to svg's fill = currentColor*/

img{
    width: 100%;
}

/* Topography */
html{
    /* 62.5% of 16px is 10px */
    font-size: 62.5%;
}

body{
    color: var(--color-body);
    font-family: Inter, Arial, Helvetica, sans-serif;
    font-size: 2rem;
    line-height: 1.5;
}

h1, h2, h3{
    color: var(--color-headings);
    margin-bottom: 1rem;
    line-height: 1.1;
}

h1{
    font-size: 5rem;
}

h2{
    font-size: 3rem;
}

h3{
    font-size: 2.4rem;
}

p{
    margin: 0;
}

em{
    font-style: normal;
    font-weight: 700;
}

/* Layout */

body{
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas: 
    'aside header'
    'aside main';
}

aside{
    height: 100svh;
    background: var(--sky-950);
    color: var(--sky-50);
    grid-area: aside;
    padding: 30px;
}

header{
    z-index: 1;
    height: 200px;
    background: var(--sky-100);
    grid-area: header;
    box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
}

main{
    background: var(--sky-200);
}

/* Links */

a{
    display: flex;
    gap: 20px;
    align-items: center;
    text-decoration: none;
}

a:visited{
    color: currentColor;
    text-decoration: none;
}

/* List */

.list{
    margin-top: 50px;
    list-style: none;
    padding: 0;
}

.list__element{
    cursor: pointer;
    margin-top: 10px;
    transition: all 0.3s;
}


.list__element:hover{
    color: var(--sky-500);
}

/* Icons */

.icon{
    width: 30px;
    height: 30px;
}

.icon--big{
    width: 50px;
    height: 50px;
}

.card .icon:hover{
    color: var(--yellow-500);
}

/* Buttons */

.btn{
    background: var(--sky-950);
    color: var(--sky-50);
    border-radius: 40px;
    border: 0;
    cursor: pointer;
    outline: 0;
    padding: 1rem 2.5rem;
    white-space: nowrap;
}

/* Aside */

.logo{
    display: flex;
    gap: 20px;
    align-items: center;
}

.logo h1{
    margin: 0;
}

/* Header */

header{
    display: grid;
    gap: 20px;
    padding: 20px;
    align-items: center;
    grid-template-areas: 
    'search notify'
    'profile post';
    grid-template-columns: 1fr 0.7fr;

}

.header__element{
    display: flex;
    gap: 20px;
    align-items: center;
}

/* Search */

.search__bar{
    width: 100%;
    border: none;
    border-radius: var(--border-radius);
    padding: 0.5rem 2rem;
}

.search__bar:focus{
    outline: none;
}

/* Notify */

.notify .header__element{
    justify-content: center;
}

.profile__picture{
    width: 50px;
    height: 50px;
    background: url(../assets/szabi.jpg);
    background-size: cover;
    border-radius: 50%;
}

.profile__picture--big{
    width: 70px;
    height: 70px; 
}

.notify p{
    font-weight: 700;
}

/* Post */

.post{
    display: flex;
    justify-content: center;
    gap: 20px;
}

/* Main */

main{
    padding: 20px;
    display: grid;
    gap: 20px;
    grid-template-areas: 
    'projects announcements'
    'projects trending';
    grid-template-columns: 1fr 0.4fr;
    grid-template-rows: auto;
}

.projects, .announcements, .trending{
    display: grid;
    gap: 20px;
}

.projects{
    grid-area: projects;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr 1fr 1fr;
    
}

.announcements{
    grid-area: announcements;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
}

.trending{
    grid-area: trending;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
}

.title{
    font-weight: 700;
}
/* Cards */

.card{
    box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
    font-size: 1.6rem;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: 1fr;
    overflow: hidden;
    background: var(--sky-50);
    border-radius: calc(var(--border-radius) / 2);
}

.card em{
    font-size: 2rem;
}

.card__border{
    width: 1rem;
    background: var(--yellow-500);
}

.card__main{
    padding: 20px;
}

.card__actions{
    margin-top: 20px;
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: right;
}

.announcements .card{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    padding: 20px 40px;
}

.announcements__element{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.announcements .announcements__element:not(:first-child) {
    border-top: 1px solid rgba(1, 1, 1, 0.3);
  }