:root{
    --border-radius: 30px;

    /* Sky colors */
    --sky-50: #f0f9ff;
    --sky-100: #e0f2fe;
    --sky-200: #bae6fd;
    --sky-300: #7dd3fc;
    --sky-400: #38bdf8;
    --sky-500: #0ea5e9;
    --sky-600: #0284c7;
    --sky-700: #0369a1;
    --sky-800: #075985;
    --sky-900: #0c4a6e;
    --sky-950: #082f49;
}

*, *::after, *::before{
    box-sizing: border-box;
}

/* to svg's fill = currentColor*/

img{
    width: 100%;
}

/* Topography */
html{
    /* 62.5% of 16px is 10px */
    font-size: 62.5%;
}

body{
    color: var(--color-body);
    font-family: Inter, Arial, Helvetica, sans-serif;
    font-size: 2rem;
    line-height: 1.5;
}

h1, h2, h3{
    color: var(--color-headings);
    margin-bottom: 1rem;
    line-height: 1.1;
}

h1{
    font-size: 5rem;
}

h2{
    font-size: 3rem;
}

h3{
    font-size: 2.4rem;
}

p{
    margin: 0;
}

/* Layout */

body{
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas: 
    'aside header'
    'aside main';
}

aside{
    height: 100svh;
    width: fit-content;
    background: var(--sky-950);
    color: var(--sky-50);
    grid-area: aside;
    padding: 30px;
}

.logo{
    display: flex;
    gap: 20px;
    align-items: center;
}

.logo h1{
    margin: 0;
}

header{
    height: 200px;
    background: var(--sky-100);
    grid-area: header;
    box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
}

main{
    background: var(--sky-200);
}

/* Links */

a{
    display: flex;
    gap: 20px;
    align-items: center;
    text-decoration: none;
}

a:visited{
    color: currentColor;
    text-decoration: none;
}

/* List */

.list{
    margin-top: 50px;
    list-style: none;
    padding: 0;
}

.list__element{
    cursor: pointer;
    margin-top: 10px;
    transition: all 0.3s;
}



.list__element:hover{
    color: var(--sky-500);
}

/* Icons */

.icon{
    width: 30px;
    height: 30px;
}

.icon--big{
    width: 50px;
    height: 50px;
}

