:root{
    
    /* Clor Palette */
    --color-headings-light: #1b0760;
    --color-body-light: black;
    --color-body-darker-light: #5c5577;
    --color-btn-light: dodgerblue; 
    --color-btn-text-light: white;
    --border-radius: 30px;
}

*, *::after, *::before{
    /* Keeping the width and height */
    box-sizing: border-box;
}

/* Topography */
::selection{
    background: tomato;
    color: white;
}

html{
    /* 62.5% of 16px is 10px */
    font-size: 62.5%;
}

body{
    color: var(--color-body-light);
    font-family: Inter, Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
    line-height: 1.5;
}

h1, h2, h3{
    color: var(--color-headings-light);
    margin-bottom: 1rem;
    line-height: 1.1;
}

h1{
    font-size: 7rem;
}

h2{
    font-size: 4rem;
}

h3{
    font-size: 3rem;
}

p{
    margin: 0;
}

/* Laptop and Desktop */
@media screen and (min-width: 1024px) {
    body{
        font-size: 2rem;
    }
    
    
    h1{
        font-size: 8rem;
    }
    
    h2{
        font-size: 4rem;
    }
    
    h3{
        font-size: 2.4rem;
    }
}

/* Layout */
body{
    display: flex;

}
aside{
    background: dodgerblue;
    height: 100vh;
    width: 20%;
}

main{
    background: #cdcbd7;
    width: 80%;
}

.header{
    background: white;
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}

/* Icons */

.icon{
    width: 40px;
    height: 40px;
}

.icon--small{
    width: 30px;
    height: 30px;
}

.icon--white{
    color: white;
}

.icon--dark{
    color: black;
}

#searchIcon{
    transition: all 0.5s;
}

#searchIcon:hover{
    transform: scale(1.2);
}

#bellIcon:hover{
    animation-name: shakeX;
    animation-duration: 0.5s;
}



/* INPUTS */

#searchBar{
    width: 100%;
    background: #cdcbd7;
    border-radius: var(--border-radius);
    border: none;
    color: var(--color-headings-light);
    outline: 0;
    padding: 0.75rem 1.5rem;
}

::placeholder{
    color: #cdcbd7;
}

/* BUTTONS */

.btn{
    background: var(--color-btn-light);
    color: var(--color-btn-text-light);
    border: none;
    border-radius: var(--border-radius);
    padding: 0.75rem 2rem;
    transition: all 0.1s;
}

.btn:hover{
    cursor: pointer;
    transform: scale(1.05);
}

.btn:active{
    transform: scale(0.95);
}

/* HEADER LINE */

.topLine{
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.topLine__left{
    width: 65%;
    display: flex;
    align-items: center;
    gap: 20px;
}

.topLine__right{
    display: flex;
    align-items: center;
    gap: 20px;
}

.bottomLine{
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.welcome{
    display: flex;
    align-items: center;
    gap: 20px;
}

.bottomLine__right{
    display: flex;
    align-items: center;
    gap: 20px;
}

.profile{
    aspect-ratio: 1/1;
    background: url(assets/cat.jpg);
    background-position: top;
    background-size: cover; /* This will resize your image */
    height: 60px;
    width: 60px;
    border-radius: 50%;
}

.profile--small{
    height: 40px;
    width: 40px;
}

.profileName{
    font-weight: 700;
    text-wrap: nowrap;
    text-align: center;
}




/* ANIMATIONS */

@keyframes shakeX {
    0%,to {
        -webkit-transform: translateZ(0);
        transform: translateZ(0)
    }

    10%,30%,50%,70%,90% {
        -webkit-transform: translate3d(-1px,0,0);
        transform: translate3d(-1px,0,0)
    }

    20%,40%,60%,80% {
        -webkit-transform: translate3d(1px,0,0);
        transform: translate3d(1px,0,0)
    }
}

